/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */



/* ==========================================================================
   Font Face
   ========================================================================== */



@font-face {
    font-family: 'alegreya_medium';
    src: url('../fonts/alegreyasanssc-medium-webfont.eot');
    src: url('../fonts/alegreyasanssc-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreyasanssc-medium-webfont.woff') format('woff'),
         url('../fonts/alegreyasanssc-medium-webfont.ttf') format('truetype'),
         url('../fonts/alegreyasanssc-medium-webfont.svg#alegreya_sans_scmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_regular';
    src: url('../fonts/alegreyasanssc-regular-webfont.eot');
    src: url('../fonts/alegreyasanssc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreyasanssc-regular-webfont.woff') format('woff'),
         url('../fonts/alegreyasanssc-regular-webfont.ttf') format('truetype'),
         url('../fonts/alegreyasanssc-regular-webfont.svg#alegreya_sans_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alegreya_light';
    src: url('../fonts/alegreyasanssc-light-webfont.eot');
    src: url('../fonts/alegreyasanssc-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreyasanssc-light-webfont.woff') format('woff'),
         url('../fonts/alegreyasanssc-light-webfont.ttf') format('truetype'),
         url('../fonts/alegreyasanssc-light-webfont.svg#alegreya_sans_sclight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html, body {
    font-size: 16px;
    line-height: 1.4;
    background: #F71C1C;
    font-family: 'alegreya_light';
    letter-spacing: -0.03rem;
    height: 100%;
}

h1{
    font-family: 'alegreya_medium';
}

*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

a{
    text-decoration: none;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
    height: 210px;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


@-webkit-keyframes slideInFromNone {
    0% {
        display:none;
        top: -105px;
    }
    1% {
        display: block ;
        top: -105px;
    }
    100% {
        display: block ;
        top: 0px;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display:none;
        opacity: 0;
    }
    1% {
        display: block ;
        opacity: 0;
    }
    100% {
        display: block ;
        opacity: 1;
    }
}

@-webkit-keyframes bannerAnimation {
    0% {
        display:none;
        width: 0;
    }
    1% {
        display: block ;
        width: 0;
    }
    100% {
        display: block ;
        width: 100%;
    }
}

.no-scroll{
    overflow: hidden;
}

.modal-bg{
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: fadeInFromNone;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 12;
}

.modal{
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: fadeInFromNone;
    position: fixed;
    width: 825px;
    height: 80%;
    margin: 5% 0px 0px 50%;
    left: -412px;
    z-index: 999;
    color: #fff;
    overflow: auto;
}

.modal-nav{
    position: fixed;
    margin-top: 8%;
    z-index: 1000;
    margin-left: 50%;
    width: 130px;
    text-align: right;
    left: 240px;
    top: -34px;
    display: none;
}

.modal-nav a{
    margin-left: 25px;
    cursor: pointer;
}

.modal .meta{
    position: relative;
    float: left;
    margin: 15px 0px 2px 20px;
    font-size: 0.75rem;
    color: #6F4747;
}

.modal .meta.client{
    display: block;
}

.modal .meta.year{
    display: block;
}

.modal-close{
    display: block;
    background: url(../img/sprite.png) -25px -26px;
    width: 27px;
    height: 27px;
    float: right;
    position: absolute;
    right: 0px;
    top: 6px;
    cursor: pointer;
}

.site-header, .site-wrapper, .site-footer{
    top: 0;
    width: 1024px;
    margin: 0 auto;
}

.is-blured{
  -webkit-filter: blur(2px);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.no-scroll{
    overflow: hidden;
}

.site-header{
    z-index: 0;
}

.site-nav{
    position: absolute;
    width: 1024px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #F71C1C;
    z-index: 9;
}

.site-nav.is-fixed{
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: slideInFromNone;
    display: block;
    position: fixed;
    width: 98%;
    top: 0;
    left: inherit;
    height: 117px;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #F71C1C;
    z-index: 8;
    margin: 0px 0px 0px 1%;
}

.site-logo{
    position: relative;
    display: none;
}

.is-fixed .site-logo{
    background: #F71C1C;
    padding: 15px 0px;
    display: block;
}

.site-logo a{
    display: block;
    margin: 0 auto;
    width: 33px;
}

.site-menu{
    background: #F71C1C;
    width: 1024px;
    padding: 0px 0px 2px 0px;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.is-fixed .site-menu{
    background: #fff;
}

.site-menu-item{
    float: left;
    margin: 12px 160px 4px -15px;
}

.site-menu-link{
    color: #fff;
    font-size: 1.2rem;
    padding: 0px 15px 4px;
    border: 1px solid #F71C1C;
    position: relative;
    top: -3px;
    float: left;
}

.is-fixed .site-menu-link{
    color: #F71C1C;
    border: 1px solid #fff;
}

.site-menu-link:hover{
    color: #fff;
    border: 1px solid #fff;
}

.is-fixed .site-menu-link:hover{
    color: #F71C1C;
    border: 1px solid #F71C1C;
}

.is-fixed .site-menu-link.is-active{
    color: #F71C1C;
    border: 1px solid #F71C1C;
}

.site-menu-square{
    float: right;
    display: block;
    height: 20px;
    width: 20px;
    background: #fff;
    margin: 15px 0px 0px 65px;
    background: url(../img/social-sprite.png);
    background-size: 77px;
}

.site-menu-square a{
    display: block;
    width: 100%;
    height: 100%;
}


.facebbok{
    background-position: -27px 0px;
}


.tumblr{
    background-position: 0px 0px;
}


.linkedin{
    background-position: -56px 0px;
}

.is-fixed .facebbok{
    background-position: -27px -34px;
}


.is-fixed .tumblr{
    background-position: 0px -33px;
}


.is-fixed .linkedin{
    background-position: -56px -34px;
}



.home{
    background: #150406;
    min-height: 400px;
    height: 100%;
    background-size: 100%;
    overflow: hidden;
}

.slider{
    width: 100%;
    margin: 0 auto;
    display: block;
    color: #FFE3E3;
    font-size: 2.8rem;
    top: 0;
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.slider li{
    list-style: none;
    display: none;
    min-height: 400px;
    display: none;
    width: 100% !important;
    padding-top: 160px;
    height: 100% !important;
    overflow: hidden;
}

.slider img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto !important;
}

.slider ul{
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    z-index: 8;
    overflow: hidden;
}

.slider ul#slider-img{
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 7;
}

.slider h1{
    font-family: 'alegreya_light' !important;
    margin: 0 auto;
    padding: 0;
    line-height: 85px
;
    width: 850px;
    display: block;
    position: relative;
}

a.activeSlide {

}

a.activeSlide:after {
    -webkit-animation-duration: 6.5s;
    -webkit-animation-name: bannerAnimation;
    content: '';
    display: block;
    position: relative;
    height: 3px;
    text-indent: -9999px;
    background: #fff;
    top: -63px
}

#nav {
    width: 850px;
    margin: 0px 0px 0px 50%;
    position: absolute;
    z-index: 10;
    top: 500px;
    left: -425px;
}

#nav-img {
    position: absolute;
    top: -3000px;
}

#nav a {
    display: block;
    float: left;
    width: 17.5%;
    height: 5px;
    border: 1px solid #fff;
    margin: 60px 10% 0px 0%;
    text-indent: -9999px;
}

#nav a:last-child {
    margin-right: 0;
}

.home-logo{
    display: block;
    width: 780px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
    position: relative;
}

.home-logo img{
    margin: 55px 0 0px;
}

.down-home{
    width: 36px;
    height: 36px;
    margin: 0px 0px 0px 50%;
    position: absolute;
    background: url(../img/sprite.png) no-repeat -2px -70px;
    display: block;
    background-size: 40px;
    left: -13px;
    bottom: 100px;
    z-index: 8;
}

.work{
    padding: 145px 80px 50px 80px;
    margin: 0px auto 0px;
    width: 98%;
    background: #fff;
    overflow: hidden;
    min-height: 100%;
}

.portfolio-header{
    width: 1024px;
    margin: 0 auto
}

.portfolio-category{
    float: left;
    width: 25%;
    border-bottom: 1px solid #F71C1C;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 13px 0px;
    color: #F71C1C;
    font-size: 1.9rem;
}

.portfolio-nav{
    float: left;
    width: 75%;
}

.portfolio-nav ul{
    padding: 0;
    margin: 0;
}

.portfolio-nav-item{
    float: left;
    width: 31.333%;
    border-bottom: 1px solid #000;
    margin: 0px 0px 0px 2%;
}

.portfolio-nav-item:hover, .portfolio-nav-item.is-active{
    border-bottom: 1px solid #F71C1C;
}

.portfolio-nav-link{
    font-size: 0.75em;
    padding: 10px 0px 6px 0px;
    display: block;
    color: #000;
}

.portfolio-nav-link:hover, .portfolio-nav-item.is-active .portfolio-nav-link{
    color: #F71C1C;
}

.site-wrapper{
    background: #fff;
    margin: 0px auto;
    height: 100%;
    width: 100%;
}

.portfolio-category-description {
    width: 1024px;
    margin: 0 auto;
}

.portfolio-category-description p{
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin: 30px 0px 30px 0px;
    float: left;
    font-size: 1.35rem;
}

.portfolio-list{
    width: 1024px;
    padding: 0;
    margin: 0px 0px 0px -1%;
    /* float: left; */
    margin: 0 auto;
}

.portfolio-item{
    list-style: none;
    float: left;
    width: 23.7%;
    min-height: 300px;
    margin: 10px 0.6% 50px;
    display: none;
}

.portfolio-item-link:hover .portfolio-image{
    border: 6px solid #F71C1C;
}

.portfolio-image{
    width: 99%;
    height: 230px;
    background: #eee;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 6px solid #fff;
}

.portfolio-image img{
    min-width: 100%;
    min-height: 100%;
}

.portfolio-article{
    padding: 10px 10px;
}

.portfolio-article h2{
    color: #F71C1C;
    font-family: 'alegreya_medium';
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}


.portfolio-article p{
    color: #805959;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}

.portfolio-single{
    -webkit-animation-duration: 0.6s;
    -webkit-animation-name: fadeInFromNone;
    display: none;
}

.portfolio-single-image {
    float: right;
    background: #E2E2E2;
    width: 620px;
    padding: 0px 0px 20px 0px;
    margin: 0;
    border-radius: 2px;
    overflow: hidden;
}

.portfolio-single-image img{
    height: auto;
    width: 94%;
    margin: 3% 3% 0
}

.portfolio-single-image li{
    list-style:none;
}

.portfolio-single-info{
    float: left;
    width: 175px;
    text-align: right;
    font-size: 0.7rem;
    position: fixed;
}

.portfolio-single-info p{
    width: 100%;
    display: block;
    color: #fff !important;
}

.portfolio-single-info span{
    color: #fff !important;
}

.portfolio-single-title {
    float: left;
    width: 100%;
    margin: 40px 0px 0px 0px;
    padding: 0;
    font-family: 'alegreya_medium';
    font-size: 1.6rem;
}

.portfolio-single-description {
    float: left;
    background: #E2E2E2;
    width: 185px;
}

.down-work{
    width: 100%;
    height: 36px;
    margin: 0 auto;
    position: relative;
    background: url(../img/sprite.png) no-repeat center -132px;
    display: block;
    background-size: 40px;
    bottom: 0;
    float: left;
}

.about{
    padding: 145px 80px 50px 80px;
    margin: 0px auto 0px;
    width: 98%;
    background: #fff;
    overflow: hidden;
    min-height: 100%;
}

.column-wrapper{
    width: 1024px;
    margin: 0 auto;
}

.column-left{
    float: left;
    width: 49%;
    margin: 0px 1% 0px 0px;
}

.column-right{
    float: right;
    width: 49%;
    margin: 0px 0px 0px 0%;
}

.about-title p {
    font-family: 'alegreya_medium' !important;
    font-size: 2.1rem !important;
    line-height: 35px !important;
    color: #F71C1C !important;
    width: 1024px !important;
    margin: 0 auto 70px !important;
}

.about h3 {
    font-family: 'alegreya_light';
    text-transform: uppercase;
    border-bottom: 1px solid #F71C1C;
    color: #F71C1C;
    font-size: 1.7rem;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 15px 0px;
    font-weight: normal;
}

.about h4 {
    color: #F71C1C;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'alegreya_medium';
}

.about p {
    color: #444;
    font-size: 1rem;
    margin: 0px 0px 16px 0px;
    padding: 0;
}

.links{
    border-top: 1px solid #F71C1C;
    float: left;
    width: 200px;
    margin: 50px 0px 0px 0px;
}

.links a{
    display: block;
    width: 65px;
    height: 100px;
    background: url(../img/links.png) no-repeat;
    float: left;
    margin-right: 70px;
    margin-top: 30px;
}

.links .portfolio-link{
    background-position: -1px 0px;
}

.links .resume-link{
    background-position: -135px 0px;
    margin-right: 0;
}

.contact{
    padding: 145px 80px 50px 80px;
    margin: 0px auto 0px;
    width: 98%;
    background: #fff;
    overflow: hidden;
    min-height: 100%;
}

.contact p{
    margin: 0;
    padding: 0;
    color: #F71C1C !important;
    text-transform: uppercase;
    font-size: 1.3rem !important;
}

.contact h2{
    color: #F71C1C !important;
    font-family: 'alegreya_light';
    text-transform: uppercase;
    width: 1024px;
    margin: 0 auto 40px;
}

.contact-info{
    width: 1024px;
    margin: 0 auto;
}

.contact form{
    float: left;
    margin: 20px 0px 0px 0px;
}

.contact input, .contact textarea{
    border: 3px solid #F71C1C;
    padding: 1px 10px 8px;
    width: 400px;
    margin: 0px 0px 0px 0px;
    background: none;
    z-index: 1;
    position: relative;
    outline: none;
    font-family: 'alegreya_light';
    font-size: 1.2rem;
}

.contact input:focus, .contact textarea:focus{
    border: 3px solid #FF9393;
}

.contact label{
    position: absolute;
    margin-top: 37px;
    margin-left: 10px;
    text-transform: none;
    font-size: 1rem;
}

.contact input[type="submit"]{
    float: left;
    width: auto;
    background: #F71C1C;
    color: #fff;
    padding: 5px 10px;
    margin: 15px 0px 0px 0px;
    font-size: 0.8rem;
    font-family: 'alegreya_regular';
}

.site-footer{
    position: relative;
    bottom: 0 !important;
    width: 100%;
    height: 180px;
    background: #F71C1C;
    float: left;
}

.nav-footer{
    width: 98%;
    min-height: 100px;
    float: left;
    margin-left: 1%;
}

.nav-footer ul{
    width: 1024px;
    margin: 75px auto;
    position: relative;
    height: 10px;
    padding: 0;
}


.nav-footer-item{
    float: left;
    margin-right: 30px;
}

.nav-footer-item-link{
    color: #fff;
}

.copyright{
    display: block;
    margin-top: 30px;
    position: absolute;
    font-size: 0.7rem;
    color: #fff;
}

.footer-logo{
    display: block;
    position: absolute;
    width: 60px;
    height: 118px;
    margin-left: 50%;
    left: -30px;
    background: url(../img/sprite.png) no-repeat 0px -350px;
    background-size: 59px;
    top: 30px;
}

.footer-info{
    position: absolute;
    right: -510px;
    width: 200px;
    font-size: 0.75rem;
    color: #fff;
    margin-right: 50%;
    top: 63px;
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
